name: "Generate bindings and shared lib"

on:
  workflow_call:
    inputs:
      # In order to discriminate across workflows, a prefix is needed.
      # I.e , the operation name, like "publishing" or "building"
      artifacts-storage-prefix:
        required: true
        type: string

    secrets:
      languages:
        required: true
env:
  CARGO_TERM_COLOR: always

jobs:
  bindgen:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./lib
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            lib/target
          key: 1-${{ runner.os }}-cargo-bindgen-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-bindgen

      - name: Set up home cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.zcash-uniffi/
          key: home-build-${{ hashFiles('.zcash-uniffi/**') }}
          restore-keys: home-build

      - name: Prepare build env
        run: |
          cargo run -p uniffi-zcash-cli setup buildenv

      - name: Generate shared lib
        run: |
          cargo run -p uniffi-zcash-cli sharedlibs

      - name: Generate languages bindings
        run: |
          cargo run -p uniffi-zcash-cli bindgen --languages=${{ secrets.languages }}

      - name: Save artifacts for bindgen
        uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.artifacts-storage-prefix }}-bindings-generation-data-${{ github.run_number }}
          path: lib/bindings
          if-no-files-found: error
